body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  margin: 0;
}

.container {
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn, .stop {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.btn {
  background-color: #4CAF50;
  color: white;
}

.stop {
  background-color: #f44336;
  color: white;
	margin-top:10px;
}

.btn:hover {
  background-color: #45a049;
}

.stop:hover {
  background-color: #e63535;
}
